/* =================================
    Estilos Específicos para Sobre Nós
    ================================= */


/* Container para centralizar o conteúdo abaixo do header fixo */
.container-conteudo {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background-color: #566A83; /* Fundo levemente mais claro que o corpo */
  border-radius: 8px;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5);
  flex-grow: 1; /* CRÍTICO: Garante que ocupe o espaço para empurrar o footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}


.sobre-nos-secao {
    padding: 20px 0;
    width: 50%; /* Essencial: A largura precisa ser menor que 100% */
    margin-left: auto;
    margin-right: auto;
}


.sobre-nos-secao h2 {
  color: #9dcbff; /* Azul claro para destaque */
  font-size: 2.2em;
  margin-bottom: 20px;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}


.sobre-nos-secao h3 {
  color: #9dcbff;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 15px;
}


.sobre-nos-secao p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #000000;
  font-size: 18px;
}


.valores ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}


.valores li {
  background-color: #e6e6e6;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-left: 4px solid #007bff; /* Destaque azul */
  border-radius: 4px;
  color: #000000;
}


.valores li strong {
  color: #02060a;
}


/* Estilo para a imagem da equipe (se você adicionar) */
.imagem-equipe {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 25px;
}


.cabecalho {
  width: 100%;
  background-color: #1a1a1c;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-area h1 {
  color: #ffffff;
  margin: 0;
  font-size: 28px
}


.menu-principal ul {
  display: flex;
  gap: 25px;
  list-style: none;
}


.menu-principal a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}


.menu-principal a:hover {
  color: #9dcbff;
}


/* CARROSSEL SIMPLES */
.imagem-container {
  width: 100%;
  max-width: 1600px;         /* Limita a largura máxima, se necessário */
  height: auto;              /* Ajuste automático de altura conforme a proporção da imagem */
  margin: 40px auto;         /* Espaçamento lateral e inferior */
  padding: 0;                /* Remove padding extra */
  border-radius: 20px;       /* Bordas arredondadas */
  overflow: hidden;          /* Impede que a imagem ultrapasse a borda */
  display: flex;
  justify-content: center;   /* Centraliza a imagem horizontalmente */
}

.imagem-container img {
  width: 100%;               /* A imagem ocupa 100% da largura do container */
  height: auto;              /* A altura é ajustada automaticamente */
  object-fit: cover;         /* Preenche o container sem distorcer */
  margin: 0;                 /* Remove qualquer margem extra na imagem */
  padding: 0;                /* Remove qualquer padding */
}
